body {
    padding-top: $body-padding-top;
}

.form-errors {
    margin-bottom: 15px;
    color: $error-text;
}

.bt-icon-lg {
    font-size: 24px;
}

table.center td,
table.center th,
p.center {
    text-align: center;
}

img.clickable {
    cursor: pointer;
}

table tbody tr td.center,
table tbody tr th.center,
table thead tr td.center,
table thead tr th.center {
    vertical-align: middle;
    text-align: center;
}