/* Login Modal Styles [START] */
#login-modal-brand {
    font-family   : 'Reem Kufi', sans-serif;
    font-size     : 56px;
    color         : $brand-primary;
    text-align    : center;
    vertical-align: middle;
}

/* Login Modal Styles [END] */
