.post {
    h4 {
        font-weight: 600;
    }

    p {
        font-size : 12px;
        margin-top: 5px;
    }

    .post-author-name {
        font-size: 20px;
    }

    .price {
        font-size: 30px;
        margin   : 0 auto;
        color    : #333;

        .currency-icon {
            font-size: 25px;
        }
    }

    .btn-view-post {
        margin-top: 8px;
    }

    .thumbnail {
        opacity           : 0.70;
        -webkit-transition: all 0.5s;
        transition        : all 0.5s;
    }

    .thumbnail:hover {
        opacity   : 1.00;
        box-shadow: 0 0 10px #4bc6ff;
    }

    .line {
        margin-bottom: 5px;
    }
    @media screen and (max-width: 770px) {
        .right {
            float: left;
            width: 100%;
        }
    }
}

.image-file-input-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-section-help-message {
    display: block;
    font-size: 13px;
    color: rgb(228, 148, 0);
    padding-right: 7px;
    font-weight: bold;
}