html[dir='rtl'] {
    .input-group-addon:first-child {
        border-left: 0;
        border-right: 1px solid #ccc;
    }
}

#social-icons-container {
    top: 8px;
    left: 38%;
    z-index: 1049;
    position: fixed;

    .social-icon {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fa-facebook-official {
        color: rgb(59,89,152)
    }

    .fa-twitter {
        color: rgb(29,161,242);
    }

    .fa-instagram {
        color: rgb(0,0,0);
    }

    .fa-youtube {
        color: rgb(230,33,23);
    }

    .fa-snapchat-ghost {
        color: rgb(255,252,0);
    }
}
